.menu ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3afa8;
}
.menu li{
    float: left;
}   
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #bfbbb2;
}
body {background-color: #d4d1cb;}


.card {
    background-color: #aba1a1;
    overflow: auto;
}
.card img{
    float: left;
}
.postcontent {
    background-color: #695b5a;
    overflow: auto ;
    margin: auto;
    padding: 10px;
    
}

